<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> <!-- Brings in Bootstrap -->
    <script src="https://apis.google.com/js/platform.js" async defer></script> <!-- This is to use OAuth sign in -->
  </head>
  <body>
    <div>
      <div>
        <nav class="navbar navbar-inverse" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/trips">Your Trips</a></li> <!-- Does not work yet -->
            <li><a href="/contact">Contact us</a></li> <!-- Does not work yet -->
          </ul>
          <ul class="nav navbar-nav navbar-right" role="navigation" style="padding: 0 3rem;">
            <% if (!loggedIn) { %>
              <li><a href="/auth/google">Sign In</a></li>
            <% } else { %>
              <img src="<%= image %>"/>
              <li><a href="/logout">Sign Out</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
      <br/>
      <h1><%= title %></h1>
      <% if (loggedIn) { %>
        <h4>Hello <%= username %></h4>
      <% } %>
      <div class="jumbotron"> <p>
        <p>Welcome to <%= title %></p>
        This will tell you all about my site.  Lots of words will go here and it will hopefully get to the point quickly.  I'm excited for this project, hopefully I can get lots of stuff done as well as make it as cool as I imagine it in my head.
      </p></div>
    </div>
  </body>
</html>
