<%- include('./_layout') %>

<td><a href='<%= "/trips/" + trip.id %>' class="map-title"><%= trip.name %></a></td>
<div id="map"></div>


<div class="left">
  <h3>Add a New Activity</h3>
  <form class="addActivity">
    <input id="search-within-time-text" type="text" name="name" placeholder="Fremont Brewing Company or Statue of Liberty" style="width: 420px;">
    <input type="hidden" name="id" value="<%= trip.id %>" >
    <input id="search-within-time" class="btn btn-outline-secondary" type="submit" value="Add">
  </form>
</div>

<section id="toDo">

  <% var activities = trip.activities %>
  <div class="row">
    <% for(var i = 0; i < activities.length; i++) { %>
      <div class="col-md-3">
        <div class="col-md-12">
          <div class="<%= activities[i].google_id %> mapcard">
            <p class="overflow"><strong><%= activities[i].name %></strong></p>
            <p><a href='<%= activities[i].website %>' target="_blank">Website</a></p>
            <form class="deleteActivity">
              <input type="hidden" name="tagID" value="<%= trip.id %>">
              <input type="hidden" name="google_id" value="<%= activities[i].google_id %>">
              <input class="btn btn-outline-secondary btn-xs mtd-btn" type="submit" value="Delete"/>
            </form>
            <form class="completedActivity">
              <input type="hidden" name="tagID" value="<%= trip.id %>">
              <input type="hidden" name="google_id" value="<%= activities[i].google_id %>">
              <input class="btn btn-outline-secondary btn-xs mtc-btn" type="submit" value="Completed"/>
            </form>
          </div>
        </div>
      </div>
    <% } %>
  </div>

</section>

<%- include('./_footer') %>
