<%- include('./_layout') %>

<td><a href='<%= "/trips/" + trip.id %>' class="map-title"><%= trip.name %></a></td>
<div id="map"></div>


<div class="left">
  <h3>Add a New Activity</h3>
  <form class="addActivity">
    <input id="search-within-time-text" type="text" name="name" placeholder="Fremont Brewing Company or Statue of Liberty" style="width: 420px;">
    <input type="hidden" name="id" value="<%= trip.id %>" >
    <input id="search-within-time" type="submit" value="Submit">
  </form>
</div>

<section id="toDo">

  <% var activities = trip.activities %>
  <div class="row">
    <% for(var i = 0; i < activities.length; i++) { %>
      <div class="col-md-3">
        <div class="col-md-12 mapcard">
          <div class="<%= activities[i].google_id %>">
            <p class="overflow"><strong><%= activities[i].name %></strong></p>
            <p><a href='<%= activities[i].website %>'>Website</a></p>
            <p>
              <form class="deleteActivity">
                <input type="hidden" name="tagID" value="<%= trip.id %>">
                <input type="hidden" name="google_id" value="<%= activities[i].google_id %>">
                <input class="btn btn-secondary" type="submit" value="Delete"/>
              </form>
              <form class="completedActivity">
                <input type="hidden" name="tagID" value="<%= trip.id %>">
                <input type="hidden" name="google_id" value="<%= activities[i].google_id %>">
                <input class="btn btn-secondary" type="submit" value="Completed"/>
              </form>
            </p>
          </div>
        </div>
      </div>
    <% } %>
  </div>

</section>

<%- include('./_footer') %>
