<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div>
      <div>
        <nav class="navbar navbar-inverse" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/trips">Your Trips</a></li> <!-- Does not work yet -->
            <li><a href="/contact">Contact us</a></li> <!-- Does not work yet -->
          </ul>
          <ul class="nav navbar-nav navbar-right" role="navigation" style="padding: 0 3rem;">
            <% if (!loggedIn) { %>
              <li><a href="/auth/google">Sign In</a></li>
            <% } else { %>
              <li><a href="/logout">Sign Out</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
      <br/>
      <h1><%= title %></h1>
      <h3>TRIPS PAGE!!!!</h3>

      <td><a href='<%= "/trips/" + trip.id %>'><%= trip.name %></a></td>
      <div id="map"></div>

      <h5>Add Activity</h5>

      <form id="addActivity">
      <!-- <form action="/trips/new-activity" method="post"> -->
        <span class="text">Name of Activity</span>
        <input id="search-within-time-text" type="text" name="name" placeholder="Ex: Google Office NYC or 75 9th Ave, New York, NY">
        <input type="hidden" name="id" value="<%= trip.id %>" >
        <input id="search-within-time" type="submit" value="Submit">
      </form>


      <br /><br /><br /><br /><br /><br /><br />

      <section id="toDo">
        
        <% var trips = trip.activities %>
        <% for(var i = 0; i < trips.length; i++) { %>
          <div>
            <p><a href='#'><%= trips[i].activityName %></a></p>
            <p><%= trips[i].activityAddress %></p>
            <p><%= trips[i].activityPhone %></p>
            <p><a href='<%= trips[i].activityWebsite %>'>Website</a></p>
          </div>
          <br /><br />
        <% } %>

      </section>

      <br /><br /><br /><br /><br /><br /><br />

    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/javascripts/map.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= process.env.MAPS_API_KEY %>&callback=initMap">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> <!-- Brings in Bootstrap -->
    <script src="https://apis.google.com/js/platform.js" async defer></script> <!-- This is to use OAuth sign in -->

  </body>
</html>
