<%- include('./_layout') %>

<h5>Create a New Trip</h5>

<form action="trips/new" method="post">
  <label>Name of Trip: </label>
  <input type="text" name="name" placeholder="Insert Text Here" >

  <input type="submit" value="Submit">
</form>

<table>
  <% for(var i=0; i < trips.length; i++) { %>
  <tr>
    <td><a href='<%= "/trips/" + trips[i].tripID %>'><%= trips[i].tripName %></a></td>
    <td><%= trips[i].tripUpdate %></td>
  </tr>
  <% } %>
</table>

<%- include('./_footer') %>
