<%- include('./_layout') %>

<h5>Create a New Trip</h5>

<form action="trips/new" method="post">
  <label>Name of Trip: </label>
  <input type="text" name="name" placeholder="Insert Text Here" >

  <input class="btn btn-secondary" type="submit" value="Submit">
</form>

<%= JSON.stringify(activityCounts[0]) %>

<div class="row">
  <% for(var i=0; i < trips.length; i++) { %>
    <div class="col-md-4">
      <p>
        <a href='<%= "/trips/" + trips[i].tripID %>'><%= trips[i].tripName %></a>
      </p>
      <p>
        <%= trips[i].tripUpdate %>
      </p>
    </div>
  <% } %>
</div>

<%- include('./_footer') %>
