<%- include('./_layout') %>


<form class="create-trip" action="trips/new" method="post">
  <h3>Create a New Trip</h3>
  <input type="text" name="name" placeholder="Trip Name" >
  <input class="btn btn-outline-secondary" type="submit" value="New Trip">
</form>

<h3 class="left">Your Trips (<%= trips.length %>)</h3>

<div class="row">
  <% for(var i=0; i < trips.length; i++) { %>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="col-md-12 card">
        <h4>
          <a href='<%= "/trips/" + trips[i].tripID %>'><%= trips[i].tripName %></a>
        </h4>
        <% var rand_img = image_urls[Math.floor(Math.random() * image_urls.length)] %>
        <a href='<%= "/trips/" + trips[i].tripID %>'><img src='<%= "/images/" + rand_img %>' width="250px" height="190px"/></a>
        <p>
          Number of Activities: <%= activityCounts[trips[i].tripID] ? activityCounts[trips[i].tripID].count : 0 %>
        </p>
      </div>
    </div>
  <% } %>
</div>

<%- include('./_footer') %>
